.homepage-banner.shirt {
    margin-top: 50px;
}

.wp-sale, .wp-category{
    justify-content: center;
    padding: 15px 0px;
}

.list-sale, .list-category{
    display: flex;
    gap: 20px;
}
.item-sale, .cat-item{
    background: rgb(220, 220, 220);
}
.item-sale:hover, .cat-item:hover{
    background: rgb(233, 102, 14);
}
.item-sale:hover a, .cat-item:hover a{
    color: #fff;
}
.item-sale:first-child, .cat-item:first-child{
    background: rgb(233, 102, 14);
}
.item-sale:first-child a, .cat-item:first-child a{
    color: #fff;
}
.item-sale a, .cat-item a{
    color: rgb(37, 42, 43);
    display: block;
    padding: 9px 30px;
    font-size: 18px;
    text-align: center;
}


.collection-shirt{
    width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.title-collection-shirt{
    font-style: italic;
    margin-top: 20px;
}
.title-collection-shirt span{
    color: rgb(37, 42, 43);
    font-size: 18px;
    text-decoration: underline;
}
.title-collection-shirt h2{
    color: #5d5c5c;
    font-size: 18px;
}

.list-product-collection{
    flex-wrap: wrap;
}
.product-coll-item{
    flex-basis: 24%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.product-coll-thumb{
    width: 245px;
    height: auto;
}
.product-coll-name{
    color: rgb(37, 42, 43);
    font-size: 14px;
    cursor: pointer;
}
.types-coll-product{
    display: flex;
    gap: 20px;
}
.types-coll-product li:hover img{
    border: 1px solid #25b612;
}
.types-coll-product li img{
    width: 25px;
    height: auto;
    border-radius: 20px;
    padding: 1px;
    border: 1px solid #aca5a5;
    cursor: pointer;
}
.price-coll{
    margin-bottom: 20px;
}
.new-price{
    color: rgb(255, 0, 0);
    font-size: 13px;
    font-weight: bold;
}
.old-price{
    font-size: 13px;
    text-decoration: line-through;
    font-weight: bold;
}
.percent-discount{
    background: rgb(192, 21, 21);
    color: #fff;
    padding: 5px;
    position: absolute;
    right: 25px;
    top: 5px;
}
